.single-entry-view {
    font-family: 'Montserrat', sans-serif;
    padding: 20px 30px;
    margin: 20px 30px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px black;

}

.sev-upper-container {
    display: flex;
    gap: 30px;
}

.sev-img img {
    width: 256px;
    height: 256px;
    box-shadow: 0px 0px 3px black;
}

.sev-data h1 {
    color: var(--color-primary);
}

.sev-data h2 {
    font-weight: 600;
    color: var(--color-primary-alt);
    font-size: 20px;
}

.sev-track-data-div {
    margin-top: 30px;
}

.sev-track-data-div tr td:first-child {
    font-weight: bold;
    padding-right: 30px;
}

.sev-data img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(60%) sepia(35%) saturate(1019%) hue-rotate(183deg) brightness(97%) contrast(90%);
    cursor: pointer;
}

.ec-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    width: 250px;
    padding: 10px 15px;

    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;

    font-family: 'Montserrat', sans-serif;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.ec-heading img {
    width: 32px;
    height: 32px;

}

.single-entry-view h3 {
    font-weight: 600;
    color: var(--color-primary-alt);
    margin-bottom: 20px;
}

.sev-features {
    display: flex;
    flex-direction: row;
    gap: 30px;
}