<div class="single-entry-view" >
    <div class="sev-upper-container">
        <div class="sev-img">
            <img src="{{trackData.img}}" />
        </div>
        <div class="sev-data">
            <h1>{{trackData.name}}</h1>
            <h2>{{trackData.artist}}</h2>
            <div class="sev-track-data">
                <div class="sev-track-data-div">
                    <div>
                        <p><b>Data wydania:</b> {{apiTrackData.album.release_date || '...'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        Helo
    </div>
</div>