/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #006d77;
    --color-primary-alt: #0b8f9b;
    --color-primary-alt-hover: #05a1af;
    --color-primary-faded: #e2edee;

    --color-danger: #b42121;
    --color-danger-alt: #eb2d2d;

    --color-white: whitesmoke;
}