<div class="about-view">
    <h1>Czym jest <span class="av-title">songtrack</span>?</h1>
    <p class="av-p">
        Songtrack to drobny projekt skupiający się na dokumentowaniu wystąpień utworów muzycznych 
        w dzisiejszej popkulturze.
    </p>
    <p class="av-p">
        Użytkownicy korzystający z aplikacji uzupełniają kolejne wpisy
        o dany utwór, który ich interesuje, oraz objekt popkultury w którym odnotowano dane wystąpienie. 
    </p>
    <p class="av-p">
        Inspiracją do stworzenia projektu było zwykłe pytanie "ciekawe, który utwór jest najczęściej wykorzystywany w filmach?".
    </p>

    <h1>Autorzy projektu</h1>
    <p class="av-p">Bartosz Burzec, 35190</p>
    <p class="av-p">Tomasz Fela, 35199</p>

</div>