<div class="entry-card">
    <div class="ec-heading">
        <div class="ec-left">
            <img [src]="track.img" />
        </div>
        <div class="ec-right">
            <h4>{{track.name}}</h4>
            <p>{{track.artist}}</p>
        </div>
    </div>
    <div class="ec-data">
        <div>
            <p>Filmy</p>
            <span>{{track.movies.length}}</span>
        </div>
        <div>
            <p>Seriale</p>
            <span>0</span>
        </div>
        <div>
            <p>Gry</p>
            <span>0</span>
        </div>
    </div>
</div>